# =========================================
# ByteShrink Project - .gitignore
# =========================================


/build/
bin/
obj/
out/


CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake


*.exe
*.out
*.a
*.lib
*.dll
*.so
*.dylib


*.log
*.tmp
*.bak
*.swp
*.swo


.DS_Store
Thumbs.db
desktop.ini


*.bshk
*.zip
*.gz
*.rar


.vscode/
.idea/
.vs/
*.user
*.vcxproj*
*.sln


/docs/*.pdf
/docs/*.png
